header{
    align-items: center; /* Vertically centers the items */
    padding: 10px;
    background-color: #f4f4f4;
    border: 3px solid grey;
    border-radius: 5px;
}
#smallpic{
    float: left; /*use to wrap the text around the picture */
    margin-right: 10px; /* set the margin between the picture and the text */

}

header i {
    font-size: 24px; /* Adjust the size of the icon */
    margin-right: 10px; /* Add some space between the icon and the text */
}

header h1 {
    font-size: 24px;
    margin: 0 
}
.container {
    display: flex;
    flex-direction: column; /* Stack the first box on top */
    align-items: center; /* Center the boxes horizontally */
}

.box {
    background-color:grey;
    color: rgb(247, 242, 242);
    width: 200px; /* Ensure all boxes are the same width */
    height: 100px;
    padding: 20px;
    
    border: 5px solid rgb(128, 128, 128);
    border-radius: 10px; 
    box-shadow: 3px 3px 6px red , -3px -3px 6px black;
    margin: 10px ; /* Margin for spacing */
    margin-top: 30px;
}

.row {
    display: flex; /* Use flexbox to arrange boxes in a row */
    justify-content: center; /* Center the row content */
    width: 100%; /* Make the row take full width */
}
#box2 {
    margin-right: 70px; /* Add space to the right of the Two Pointer box */
}
.text{
    text-shadow: 3px 3px 6px red, -3px -3px 6px black;
    text-align: center;

}

/* Styling the li elements within the custom-list ul */
ul.custom-list li {
     margin-right: 0px;
     padding-left: 5px;
}
